# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# VS Code
*.code-workspace

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Distribution
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Misc
.env
*.log